<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<p><%= link_to_if(current_user.nil?, 'Sign in with Google', auth_google_path) %></p>
<p><%= link_to 'Teams Ranking', ranking_index_path %></p>
