<h1>Play The Game!</h1>
<%= link_to 'Teams Ranking', ranking_index_path %></p>
<%= link_to 'Play Single Game', new_match_path %></p>
<%= link_to 'Add New Team', new_team_path %></p>
<%= link_to 'Add New Player', new_player_path %></p>
