<h1>Ranking</h1>
<table>
  <tr>
    <th>Team</th>
    <th>Wins</th>
  </tr>
 
  <% @ranking_positions.each do |r| %>
    <tr>
      <td><%= r.team.name %></td>
      <td><%= r.rank %></td>
    </tr>
  <% end %>
</table>
